<div class="header-background">
  <div class="header">
    <h1>Search company by ticker</h1>
    <h2>i.e. FB, AAPL, TWTR</h2>
    <div class="search">
      <%= form_tag stocks_path, method: 'get' do %>
        <%= text_field_tag :query, params[:query], placeholder: "search company", size: 30, class: "search"%>
        <%= submit_tag 'Search', class: "search-button" %>
      <% end %>
    </div>
  </div>
</div>
<% if @stock %>

<div class="result">
  <div class="result-text">

    <div class="stat1 d-flex">
      <% if @stock.company_name.size > 16 %>
        <h3 style="font-size: 19px"><%= @stock.company_name%> </h3>
      <% else %>
        <h3><%= @stock.company_name%> </h3>
      <% end %>
      <p><%= link_to '<i class="fas fa-plus-circle"></i>'.html_safe, stocks_path(:param1 => @stock.symbol), method: :post %></p>
    </div>
       <%  company = StockQuote::Stock.company(@stock.symbol) %>
     <h4><%= company.sector %></h4>

    <div class="stat2">
      <h5> Market Cap: $12.1T<%#= number_with_precision(@stock.market_cap, precision: 2, delimiter: ',') %></h5>

      <h5> Previous Close: $<%= number_with_precision(@stock.previous_close, precision: 2, delimiter: ',') %> </h5>
    </div>
    <div class="stat3 d-flex">
        <h6>$<%= number_with_precision(@stock.latest_price, precision: 2, delimiter: ',') %> </h6>
      <% unless @stock.change_percent.nil? %>
      <% if  @stock.change_percent.round(2) < 0%>
            <div class="percent red">
              <h6><%= (@stock.change_percent * 100).round%>%</h6>
            </div>
              <% else  %>
              <div class="percent">
              <h6><%= (@stock.change_percent * 100).round%>%</h6>
            </div>
          <% end %>
          <% end %>
    </div>
     <%#= hidden_field_tag :ticker, value: @stock.symbol %>

</div>


<% end %>
</div>

<div class="error">

  <% if @error %>
  <p><%= @error %></p>
  <% end %>

</div>

<% if @stock %>
<div class="data">

  <a href="https://iexcloud.io">Data provided by IEX Cloud</a>

</div>
<% end %>

