<div class="header-background">
  <div class="header">
    <h1>Search company by ticker</h1>
    <h2>i.e. FB, AAPL, TWTR</h2>
    <div class="search">
      <%= form_tag stocks_path, method: 'get' do %>
        <%= text_field_tag :query, params[:query], placeholder: "search company", size: 30, class: "search"%>
        <%= submit_tag 'Search', class: "search-button" %>
      <% end %>
    </div>
  </div>
</div>


<div class="result">
  <div class="result-text">
<% if @stock %>
    <div class="stat1 d-flex">
      <h3><%= @stock.company_name %> </h3>
      <p><%= link_to '<i class="fas fa-plus-circle"></i>'.html_safe, stocks_path(:param1 => @stock.symbol), method: :post %></p>
    </div>
     <h4>TECH</h4>

    <div class="stat2">
      <h5> Market Cap: $12.1T<%#= number_with_precision(@stock.market_cap, precision: 2, delimiter: ',') %></h5>

      <h5> Previous Close: $<%= number_with_precision(@stock.previous_close, precision: 2, delimiter: ',') %> </h5>
    </div>
    <div class="stat3 d-flex">
        <h6>$<%= number_with_precision(@stock.latest_price, precision: 2, delimiter: ',') %> </h6>
      <div class="percent">
        <h6> 3% <%#= @stock.change_percent%></h6>
      </div>
    </div>
     <%#= hidden_field_tag :ticker, value: @stock.symbol %>

</div>


<% end %>
</div>

<div class="error">

  <% if @error %>
  <p><%= @error %></p>
  <% end %>

</div>


<div class="data">

  <a href="https://iexcloud.io">Data provided by IEX Cloud</a>

</div>

