<%= form_tag stocks_path, method: 'get' do %>
    <%= text_field_tag :query, params[:query], placeholder: "Search by Ticker", size: 50%>
    <%= submit_tag 'Search' %>


<% end %>

<% if @stock %>
     <p>Company: <%= @stock.company_name %> </p>
     <p> Latest Price: <%= @stock.latest_price %> </p>
  <!--    <p> Open: <%= @stock.high%> </p>
     <p> Close: <%= @stock.low%> </p> -->

     <p> Market Cap: <%= @stock.market_cap %> </p>
     <p> P/E Ratio: <%= @stock.pe_ratio %> </p>
     <%#= hidden_field_tag :ticker, value: @stock.symbol %>

     <p><%= link_to "save ticker to dash", stocks_path(:param1 => @stock.symbol), method: :post  %></p>
     <a href="https://iexcloud.io">Data provided by IEX Cloud</a>

<% end %>

<% if @error %>
<p><%= @error %></p>
<% end %>

