<%= @user_stock.ticker %>
<p>Company: <%= @stock.company_name %> </p>
<p> Latest Price: <%= @stock.latest_price %> </p>
<!--    <p> Open: <%= @stock.high%> </p>
<p> Close: <%= @stock.low%> </p> -->

<p> Market Cap: <%= @stock.market_cap %> </p>
<p> P/E Ratio: <%= @stock.pe_ratio %> </p>
