<div class="page-container">

   <!--  <div class="main-carousel">
      <div class="carousel-cell js-flickity" data-flickity-options='{ "cellAlign": "left", "freeScroll": true, "contain": true, "wrapAround": true }'>
        <img style="width: 100px"src="https://source.unsplash.com/random" alt="">
      </div>
      <div class="carousel-cell js-flickity" data-flickity-options='{ "cellAlign": "left", "freeScroll": true, "contain": true, "wrapAround": true }'>
        <img style="width: 100px"src="https://source.unsplash.com/random" alt="">
      </div>
      <div class="carousel-cell js-flickity" data-flickity-options='{ "cellAlign": "left", "freeScroll": true, "contain": true, "wrapAround": true }'>
        <img style="width: 100px"src="https://source.unsplash.com/random" alt="">
      </div>
    </div> -->

  <% if @stocks %>
    <h6 class="heading" style="margin-bottom: -16px; margin-left: 4px; margin-top: 36px;">Highlights</h6>
  <div class="main-carousel js-flickity" data-flickity-options='{ "cellAlign": "left", "freeScroll": true, "contain": true}'>
    <% @stocks.each do |stock| %>
    <%  @stock = StockQuote::Stock.quote(stock.ticker) %>
    <% if @stock.change_percent&.round(2) < -0.1 || @stock.change_percent&.round(2) > 0.1 %>

    <div class="carousel-cell result">
      <div class="result-text">

        <div class="stat1 d-flex">
          <h3 style="font-size: 26px;"><%= @stock.company_name %> </h3>

        </div>
         <h4 style="margin-top: -4%;">TECH</h4>

        <div class="stat2">
          <h5> Market Cap: $12.1T<%#= number_with_precision(@stock.market_cap, precision: 2, delimiter: ',') %></h5>

          <h5> Previous Close: $<%= number_with_precision(@stock.previous_close, precision: 2, delimiter: ',') %> </h5>
        </div>
        <div class="stat3 d-flex">
            <h6>$<%= number_with_precision(@stock.latest_price, precision: 2, delimiter: ',') %> </h6>
          <% if  @stock.change_percent.round(2) < 0%>
            <div class="percent red">
              <h6 style="margin-right: 6px;"><%= (@stock.change_percent * 100).round %>%</h6>
            </div>
              <% else  %>
              <div class="percent">

              <h6 style="margin-right: 6px;"><%= (@stock.change_percent * 100).round %>%</h6>
            </div>
          <% end %>
        </div>
         <%#= hidden_field_tag :ticker, value: @stock.symbol %>

      </div>
    </div>
    <% end %>
  <% end %>

  </div>


    <h6 class="heading">All Stocks</h6>

  <% @stocks.each do |stock| %>
  <div class="stock-wrapper">
    <%  @stock = StockQuote::Stock.quote(stock.ticker) %>
    <p class="name"><%= @stock.company_name %></p>
    <p class="amount">$<%= number_with_precision(@stock.latest_price, precision: 2, delimiter: ',') %></p>
    <% if @stock.change_percent.round(1) < 0%>
            <div class="percent">
              <p style="color: #FF8080;"><%= (@stock.change_percent * 100).round %>%</p>
            </div>
              <% else  %>
              <div class="percent">
              <p style="color: #87FFA1;"><%= (@stock.change_percent * 100).round %>%</p>
            </div>
    <% end %>
  </div>
  <% end %>




 <% end %>




  <!-- <ul>
  <#% @stocks.each do |stock| %>
    <li> <strong><#%= stock.ticker %> </strong>
    <#%  @stock = StockQuote::Stock.quote(stock.ticker) %>
    <p> Company: <#%= @stock.company_name %> </p>
     <p> Latest Price: $<#%= number_with_precision(@stock.latest_price, precision: 2, delimiter: ',') %> </p>
      <p> Previous Close: $<#%= number_with_precision(@stock.previous_close, precision: 2, delimiter: ',') %> </p>
      <p> % Change: <%= @stock.change_percent%>% </p>
      <p> Market Cap: $<#%= number_with_precision(@stock.market_cap, precision: 2, delimiter: ',') %></p> </li>

    <#%= link_to "Delete stock", stock_path(stock.id),
        method: :delete,
        data: { confirm: "Are you sure you want to delete?" } %>
  <#% end %>
  </ul>
 -->

</div>
